<h1>Student Records</h1>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Parent Name</th>
      <th>Grade</th>
      <th>Teachers</th>
      <th>Sports</th>
      <th>Form Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_name %></td>
        <td><%= student.parent_name %></td>
        <td><%= student.grade %></td>
        <td><%= student.teachers.presence || "N/A" %></td>
        <td><%= student.sports.presence || "N/A" %></td>
        <td><%= student.form_name.presence || "N/A" %></td>
        <td><%= student.status ? "Complete" : "Incomplete" %></td>
        <td>
          <%= link_to 'Show', student_path(student) %> |
          <%= link_to 'Edit', edit_student_path(student) %> |
          <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Student', new_student_path %>
