<h1>Student Records</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Student Name</th>
      <th scope="col">Parent Name</th>
      <th scope="col">Grade</th>
      <th scope="col">Teachers</th>
      <th scope="col">Sports</th>
      <th scope="col">Form Name</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td scope="row"><%= student.student_name %></td>
        <td scope="row"><%= student.parent_name %></td>
        <td scope="row"><%= student.grade %></td>
        <td scope="row"><%= student.teachers.presence || "N/A" %></td>
        <td scope="row"><%= student.sports.presence || "N/A" %></td>
        <td scope="row"><%= student.form_name.presence || "N/A" %></td>
        <td scope="row"><%= student.status ? "Complete" : "Incomplete" %></td>
        <td scope="row">
          <%= link_to 'Show', student_path(student) %> |
          <%= link_to 'Edit', edit_student_path(student) %> |
          <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Student', new_student_path %>
